<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet">
     <link rel="stylesheet" href={{url_for('static', filename="css/style_index.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="css/demo.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="css/nav.css")}}>
    <link rel="stylesheet" href={{url_for('static', filename="css/login.css")}}>
    
</head>

<body style="background-color: #ffffff">
    <!-- navbar -->
    <nav>
      <div class="logo">
        <h3><a href="merlin.html" class="logo-name">Merlin Dress Rental</a></h3>
      </div>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="products.html">Products</a></li>
        <li><a href="contact.html">ContactUs</a></li>
        <li><a href="login.html" id="login">Order</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
  <!-- navbar --> 

    <div class="login">
      <img src={{url_for('static', filename="images/login-images/login.png", alt="")}}>
      <div class="vl">
        
      </div>
      <img src={{url_for('static', filename="images/login-images/undraw_empty_cart_co35.png", class="login-image", alt="")}}>
    </div>
    
    <center>ORDER HERE 🦄</center> 
    <br><br>
  
   <center> <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd2E-6od4I5rVr93gI0rtNSVoknexHKSHUIHeg6K9NRK73sug/viewform?embedded=true" width="640" height="4515" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> </center>

    <br>

</body>
</html>
